body {
    font-family: 'Courier New', monospace;
}

h1 {
    text-align: center;
    align-items: center;
    font-size: 2.3em;
}

div div {
    font-size: 1.1em;
    text-align: center;
    align-items: center;
}

#mountains {
    width: 10rem;
}

.accordion-button.collapsed {
    font-size: medium;
    font-weight: bold;

}

.accordion-body {
    font-size: medium;
    text-align: left;
}

.accordion-item {
        margin-left: 1em;
        margin-right: 1em;
    }

.btn.btn-outline-primary {
    margin-bottom: 1rem;
}

.blockquote {
    font-size: small;
    font-style: italic;
}

.blockquote-footer{
    font-size: small;
}

.carousel {
    max-width: 35rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.carousel img {
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}

/*Utilisation de la proprieté @media dans le cadre de ce TP pour entraînement personnel*/ 

@media (max-width: 576px) {
    .carousel {
        margin-left: 0.7em;
        margin-right: 0.7em;
       }
    }

.ms-md-3 {
    font-size: x-small;
}